ErrorFlow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8c2484fd-0bc3-43b2-84ca-f0549ab37343",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "workflow_name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "workflow_id",
              "value": "={{ $json.workflow.id }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "execution_id",
              "value": "={{ $json.execution.id }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "execution_url",
              "value": "={{ $json.execution.url }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "error_message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "error_stack",
              "value": "={{ $json.execution.error.stack }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "failed_node",
              "value": "={{ $json.execution.lastNodeExecuted }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "execution_mode",
              "value": "={{ $json.execution.mode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "41b267eb-912d-4b77-8b6e-7f2d25cc66d9",
      "name": "Prepare Error Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "=nSO9c4MslbzYU7Tr",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execution_url",
              "displayName": "execution_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_stack",
              "displayName": "error_stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "failed_node",
              "displayName": "failed_node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execution_mode",
              "displayName": "execution_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6a61eebf-15d5-4e09-bb61-8d46e6f79b75",
      "name": "Log to Data Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "=j9V1pypvUt8pqD7R",
          "mode": "id",
          "cachedResultUrl": "/workflow/=j9V1pypvUt8pqD7R"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "id": "e2b156e8-6b7f-4b3c-8b1e-de22f21d968e",
      "name": "Retry Failed Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ATP3RS2F3",
          "mode": "list",
          "cachedResultName": "all-charan"
        },
        "text": "=🚨 *Workflow Error Alert*\n\n*Workflow:* {{ $json.workflow.name }}\n*Execution ID:* {{ $json.execution.id }}\n*Failed Node:* {{ $json.execution.lastNodeExecuted }}\n*Error:* {{ $json.execution.error.message }}\n\n*Execution URL:* {{ $json.execution.url }}\n\nA retry has been attempted automatically.",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "933ac429-e458-4dbf-9a37-3ce401b64de4",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        896,
        0
      ],
      "webhookId": "aecc2b01-33e0-4678-b2b7-79a0d20c39ff",
      "credentials": {
        "slackOAuth2Api": {
          "id": "SyvccyTYjR84Ncd8",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sric6618@gmail.com",
        "subject": "=Workflow Error: {{ $json.workflow.name }}",
        "message": "=<h2>Workflow Error Alert</h2>\n<p><strong>Workflow:</strong> {{ $json.workflow.name }}</p>\n<p><strong>Execution ID:</strong> {{ $json.execution.id }}</p>\n<p><strong>Failed Node:</strong> {{ $json.execution.lastNodeExecuted }}</p>\n<p><strong>Error Message:</strong> {{ $json.execution.error.message }}</p>\n<p><strong>Execution URL:</strong> <a href=\"{{ $json.execution.url }}\">View Execution</a></p>\n<p>A retry has been attempted automatically.</p>\n<hr>\n<p><strong>Stack Trace:</strong></p>\n<pre>{{ $json.execution.error.stack }}</pre>",
        "options": {
          "bccList": "",
          "ccList": ""
        }
      },
      "id": "d98d3435-8563-4745-9231-d9703ea4a83d",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ],
      "webhookId": "c9f00edf-dff0-45a0-b4be-0fd1fd0dcf1b",
      "credentials": {
        "gmailOAuth2": {
          "id": "sGhvU4uqrHwkwwBX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Prepare Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Log": {
      "main": [
        [
          {
            "node": "Log to Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Data Table": {
      "main": [
        [
          {
            "node": "Retry Failed Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Failed Workflow": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7ac2a447-debf-467f-aa35-338647b122ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b5771ae2a5e6f98f54dd6126a8c402166f377be24a64d91db756876c8b80318"
  },
  "id": "nl45bs42GRvK04Am",
  "tags": []
}